<html>
    <head>
        <meta charset="UTF-8">
        <title>Login Page</title>
    </head>
    <body>
        <h1 style="text-align: center">Login Page</h1>

        <p style="font-style:italic; text-align:center ">Already a User Then : </p>
        <br>
        <div>
            <a href="loginPage.html">
                <mark style= "font-weight:bold ; ">Login</mark>
            </a>
        </div><br><br>

        <p style="font-style:italic; text-align:center ">If You Are Not a User Then : </p>
        <br>

        <div style="text-align:center;">
        <a href="RegisterPage.html">
            <mark style= "font-weight:bold ; ">Register</mark>
        </a>
        </div>

    </body>
</html>