<html>
    <head>
        <meta charset="UTF-8">
        <title>User Data</title>
    </head>
    <body>
        <h1 style="text-align: center">Data Entry Form</h1>

        <div>
            <form action="http://127.0.0.1:5000/webData" method="post" id="form1">
                First Name<input type="text" name="fname" id="fname"><br>    
                Last Name<input type="text" name="lname" id="lname"><br>
                Email<input type="text" name="mail" id="mail"><br>
                PassWord<input type="text" name="pass" id="pass"><br>
            </form>
            <button type="submit" name="lname" form="form1">Submit</button>
        </div>

    </body>
</html>