<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="\static\adminHome.css">
</head>
<body>
    <div class="container">
        <div id="item1" class="flexContainer1">
            <div id="div10">
                <nav>
                    <a href="/html/">Profile</a> |
                    <a href="/css/">Settings</a> |
                    <a href="/js/">About</a> |
                    <a href="/python/">Help</a>
                </nav>
            </div>
        </div>
        <div id="item2">Creat New</div>
        <div id="item3" class="containerImg">
            <h1>Explore</h1>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            
        </div>
        <div id="item4">Item4</div>
    </div>
    
</body>
</html>